name: deepvibe_env
channels:
  - pytorch
  - nvidia
  - conda-forge
  - defaults
dependencies:
  - python=3.9
  - pytorch
  - torchvision
  - torchaudio
  - pytorch-cuda=12.1
  - pandas
  - numpy
  - scipy
  - scikit-learn
  - matplotlib
  - seaborn
  - tqdm
  - pyarrow
  - fastparquet
  - jupyter
  - ipykernel
  - pip
  - pip:
    - torchsummary